@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/fonts/Poppins.woff2) format('woff2');
}

* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
